<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Angular</title>
    <style>
        /*veikia tik divo viduje angular
jeigu atsisiunciam kitu sukurtas aplikacijas, reikia deti ['aaa'] prie module i skliaustus
eiliskumas, pirma eina po kodo JS*/

        lentele {
            color: red;
        }
    </style>
    <script>
        var app = angular.module('myApp', []);
        app.component('lentele', {
            template: `<h3>lentele</h3>
            <table>
            <tr>
            <th>Data</th><th>Numeris</th>
            </tr>
            <tr ng-repeat="e in $ctrl.items">
            <td>Data</td><td>Numeris</td>
            </tr>
            </table>
            <button ng-click="ctrl.add()">Prideti</button>
            `,
            bind: {
                name: '@'
            },
            controller: lenteleController
        })
        function lenteleController($timeout) {
            this.items = [];
            $timeout(() => {
                this.items = [
                    { date: '2018-01-01', number: 'AAA001' },
                    { date: '2018-01-02', number: 'BBB001' },
                    { date: '2018-01-03', number: 'CCC001' },
                ];
            }, 2000);

            this.add = () => {
                this.items.push({ date: '2018-01-01', number: 'AAA001' });
            };
        }
        app.component('eilute', {
            template: `
            <input type="number" ng-model="$ctrl.kiekis">
            <input type="number" ng-model="$ctrl.kaina">
            <p>Suma: {{ $ctrl.kiekis * $ctrl.kaina }}</p>
            `,
            controller: eiluteController
        });
        function eiluteController() {
            this.kiekis = 0;
            this.kaina = 0;
        }

    </script>
</head>

<body ng-app="myApp">
    <h1>Lentele</h1>
    <lentele></lentele>
    <br><br>
    <eilute></eilute>

</body>

</html>