@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: white;
    
}

.navbar {
    background-color: white;
    border-bottom: solid lightseagreen 0.06em;
    box-shadow: 0em 0.01em 0.03em lightseagreen;
    height: 5rem;
}

.navbar .nav-link {
    font-size: 0.8em;
}



.juosta .btn {
    padding: 0.5em 1.5em;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: rgb(9, 80, 74);
    border: none;
    border-radius: 30px;
    margin-top: 0.5em;
}

.juosta #s {
    color: white;
}

.juosta {
    background-color: #009999;
    color: white;
    padding: 2em 3em;
    font-weight: bold;
}

.juosta span {
    color: rgb(9, 80, 74);
    font-weight: bold;
    font-size: 0.9em;
}

.footer {
    background-color: rgb(36, 34, 34);
    color: beige;
    text-align: left;
    padding: 2rem 3rem;
}

.footer .btn {
    background-color: rgb(50, 121, 96);
    color: beige;
}

.menu .btn {
    display: none;
}

p {
    font-size: 0.7em;
    text-align: center;
}

.section i {
    color: #009999;
    font-size: 3.5em;
    margin: 0.3em auto 0.3em 2.6em;
}

span1 {font-size: 0.3em;color: #dfe6e9;} /*ideti borderi*/
#an {font-size: 5em;}
#i, #h {font-weight: bold; color: black;}
#j {font-size: 1.4em;}
#k {font-size: 1em;}
#a, #b, #c, #d, #e {font-weight: bold; color: black; font-size: 0.9em;}
#l {font-size: 1.4em; transform: rotate(90deg);}
#m, #n {color: black; font-size: 1.2em;}
#n {transform: rotate(90deg);}
#o {color:black; font-weight: bold;}
#p, #pa {color:grey;}
#t, #ta, #cc {font-size: 0.6em; color: grey;}
#u, #v, #z, #ar, #af, #ag {font-size: 1em; font-weight: bold; text-align:center;}
#vb {color:black; font-weight: bold;}
#ca {justify-content:space-around; display: flex;}
#cb {color:black; font-weight: bold;}
#tb {padding: 0;}
#tc {color: #009999; font-size: 0.7em; border-top: solid lightgrey 1px; border-left: solid lightseagreen 3px; margin-left: 1.3em;}
#td {color: black; font-size: 0.7em; border-top: solid lightgrey 1px; border-right: solid lightgrey 1px; margin-left: 1.3em;}
#te, #tf {color: black; font-size: 0.7em; border-right: solid lightgrey 1px; margin-left: 1.3em;}
#tg {font-weight: bold; margin-left: 3.2em;}
#tn {margin-left: 2em;}
#th {text-align: left; ; width: 53%; margin-left: 3em;}
#ff {font-size: 7em; color:#009999; margin: -0.25em auto 0.1em 0.1em;}
#fl {text-align: left; margin-left: 5.7em;}
#gg, #ge, #gf, #kk, #kl, #km, #ll, #ii {font-size: 0.8em;}
#hh {background-color: blue;}
#he {background-color: #009999; width: 85%; color: white; padding: 0.5em 0.5em 0 0.5em; text-align: center;}
#hf {padding: 0 0.5em 0.5em 0.5em;}
#im {color: white; font-size: 0.8em;  background-color:  #353b48; border-color:  #353b48;}
#jj {font-size: 0.9em; text-align: left;}
#ko, #kp {font-size: 0.8em; text-align: left;}
#ls {color: white; font-size: 0.8em;  background-color:  #009999; border-color:  #009999;}





@media only screen and (max-width: 768px) {


    .juosta {
        text-align: center;
    }

    #r,
    #s {
        font-size: 1.5em;
    }

    .informacija {
        margin-bottom: 1rem;
    }

    #a,
    #b,
    #c,
    #d,
    #e,
    #h,
    #i {
        display: none;
    }

    .juosta .btn {
        margin-left: 25vmin;
    }

    nav ul>li {
        list-style-type: none;
        display: inline-block;

    }
    nav ul li a {
        text-decoration: none;
        color: rgb(9, 80, 74);
        display: block;
        padding: 5px;
        border: none;
    }
    nav ul li a:link,
    nav ul li a:hover {
        color: #009999;

    }
    nav ul li ul {
        display: none;
        height: 45px;
        position: relative;
    }
    nav ul li:hover>ul {
        display: block;
        position: absolute;
        top: 60px;
        width: 100%;
        padding-left: 0px;
    }
    nav ul li ul li {
        display: initial;
    }
    nav ul li ul li a {
        border: none;
    }
    a:link {
        text-decoration-line: none;
    }
    #new {margin-left: -2em;;}
    #old {margin-left: 2em;}
   #myg {margin-left: -2em;}
   .section i {margin-left: 3.5em;}
   #home {margin-left: -1em;}

    
}

@media only screen and (min-width: 769px),
(min-width: 1295px) {

    #f,
    #g {
        display: none;
    }
    nav ul li:hover>ul,
    nav ul li ul li a,
    nav ul li ul li {
        display: none;
    }
}