
body {font-family: 'Open Sans', sans-serif;
    background-color: #dfe6e9;
    }

nav {
    width: 100%;
    background-color: #2d3436;}

    /*stengtis nedeti elemento aukscio, kad automatiskai formuotu aukscius langu*/

nav ul {
        color: #fff;
        /*font-size: 16px;*/
        width: 90%;
        max-width: 1100px; /*apribojam ploti*/
        margin: auto; /* tai yra block elementas */
        font-size: 0;  /*tarpa galima uzkomentuoti arba istrinti,kad nebutu tarpu inline elementu (li) sarase,panaikinus font-size,reikia ivesti jo dydi i (li),nes dingsta tekstas*/                                                  
    }
      /*ji pakeiti display tipa,tada margin negalioja*/
    /* jei nenurodome block elementui plocio, jis automatiskai uzima 100% lango*/
    /*teviniam elementui parasius text-align,  issidelioja visi inline block.*/
nav ul li {
        padding: 15px 20px; /*su margin geriau nedaryti centravimo, nes sunkiau valdyti*/
        display: inline-block;
        /*inline negalima nurodyti apatinio,virsutinio margin*/
        border-right: 1px solid #636e72;
        cursor: pointer;
        font-size: 16px;
    }
nav li:hover {
       border-bottom: 4px solid #0984e3;
       padding-bottom: 11px;
      
       }
   /*responsive dizaina galima su px ir % gauti nenaudojant flex*/
main {width: 90%; max-width: 1100px; margin: 80px auto 0 auto;}
article { 
       background-color: #fff;
       width: 100%;
       margin-bottom:  20px;
       padding: 20px;
       box-sizing: border-box;
       /*savybe kuri iskaiciuoja i article ploti paddingus.borderius, kad papildomai neuzimtu vietos ir ji galima isidet i reset'a*/
       display: inline-block;
       vertical-align: middle; /*kai tekstas trumpesnis,kad graziai bloka sulygiuoti dedasi si f-ja ir nedeti height,nes tekstas eis uz ribu*/

}
article h1 { 
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
article p { 
    font-size: 16px;
    font-weight: 400;
   line-height: 1.5;
}
 article.halfWidth {
    width: 49%;
}
.halfWidth.withRightSpace {
    margin-right: 2%;
}
.noFont {
    font-size: 0px;
}
.noFont * { 
    font-size: 16px;}