 /* pagrindinis home */
    body {
        font-family: 'Lora', serif;
        background-color: #fff;
    }

    .lineRight {
        float: right; border: none; font-size: 18px; margin: auto; 
    }
    .lineRight:hover {
        border-bottom: none;
    }
    /* .logo {border: none; font-size: 18px; margin-left: -5em; padding-right: 4em; }
    .logo:hover {border-bottom: none;} */

    nav {
        width: 100%;
        background-color: #685249;
        position: fixed;
        top: 0;
        opacity: 0.9;
        position: fixed;
        z-index: 1;
    } 
    nav a {text-decoration: none !important; color: #fff;}
    nav ul {
            color: #fff;
            width: 90%;
            max-width: 1100px; /*apribojam ploti*/
            margin: auto; /* tai yra block elementas */
            font-size: 0;  /*tarpa galima uzkomentuoti arba istrinti,kad nebutu tarpu inline elementu (li) sarase,panaikinus font-size,reikia ivesti jo dydi i (li),nes dingsta tekstas*/                                                  
    }
        /*ji pakeiti display tipa,tada margin negalioja*/
        /*teviniam elementui parasius text-align,  issidelioja visi inline block.*/
    nav ul li {
            padding: 20px 20px; /*su margin geriau nedaryti centravimo, nes sunkiau valdyti*/
            display: inline-block;
            /*inline negalima nurodyti apatinio,virsutinio margin*/
            border-right: 1px solid #c1a185;
            cursor: pointer;
            font-size: 20px;
    }
    nav li:hover {
        border-bottom: 4px solid #fff;
        padding-bottom: 16px;
    }
    /*responsive dizaina galima su px ir % gauti nenaudojant flex*/
    
    main {
        width: 90%; max-width: 1200px; margin: 80px auto 0 auto;
    }
    article { 
        background-color: #fff;
        width: 100%;
        margin-bottom:  20px;
        padding: 20px;
            box-sizing: border-box;
        /*savybe kuri iskaiciuoja i article ploti paddingus.borderius, kad papildomai neuzimtu vietos ir ji galima isidet i reset'a*/
        display: inline-block;
        vertical-align: middle; /*kai tekstas trumpesnis,kad graziai bloka sulygiuoti dedasi si f-ja ir nedeti height,nes tekstas eis uz ribu*/
    }
    article h1 { 
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    article p { 
        font-size: 16px;
        font-weight: 400;
    line-height: 1.5;
    }

    article:nth-of-type(12n + 2),
    article:nth-of-type(12n + 5),
    article:nth-of-type(12n + 6) {
        width: 100%;
    }

    article:nth-of-type(12n + 2),
    article:nth-of-type(12n + 4),
    article:nth-of-type(12n + 5){
    margin-right: 2%;
    }

    .noFont {
        font-size: 0px;
    }

    .noFont * { 
        font-size: 16px;
    }

    article:nth-of-type(12n + 4),
    article:nth-of-type(12n + 5),
    article:nth-of-type(12n + 6) {
        width: 32%;
    }

    img { 
        background-size: cover; width: 100%;
    }
    /* #a { color: white;
    padding: 5px 20px; margin: auto; margin-top: -30px; list-style-type: none; display: inline-block; cursor: pointer; line-height: 0;} */

    #top {
        margin: 0; padding: 0; position: relative; border-spacing: 0;
    }

    .night {
        font-size: 30px;
    }
    #bottom {
        background-image: url(vidus.JPG);
        background-size: cover; 
        background-repeat: no-repeat; 
        height: 75vmin;
        margin-top: 16px; 
        width: 100%;
        padding: 0; 
        background-attachment: fixed;  
        /* -webkit-filter: opacity(30%);filter: opacity(30%);  */
        /* background-color: transparent; */
        /* filter:opacity(50%); */
        visibility: visible;
        animation-delay: 0.5s;
        animation-name: fadeInRight;
    }   

    #bottom button {
        width: 20vmin; height: 20vmin; border-radius: 100px; border-color: #000; background-color: #685249; color: #fff; font-size: 1em; margin: 1em auto; left: 40%; position: relative; display: block; 
        justify-content:space-between;
    }
    #bottom a {
            text-decoration: none !important;
    }

    /* #apie section { font-style: italic; font-weight: 500; font-size: 150%; width: 70%; margin: 0; padding: 1em;; position: absolute; top: 185%; margin-left: 15%;}
    #apie h1 {text-align: center; font-size: 200%; padding-top: 10%; font-weight: 900; font-style: italic; position: absolute; top: 155%; margin-left: 35%;} */
    .apie img {
        width: 4em;
    }
    .apie article { 
        width: 32%; text-align: center;  vertical-align: text-top; margin: 0; box-sizing: border-box;
    }

    .apie {
        text-align: center; color: #4b4b4b; background-color: #fff; display: inline-block; display: inline; padding: 0;
    }

    .apie h3 {
        font-weight: bold;
    }

    .apie button {
        width: 50vmin; height: 7vmin; border-radius: 50px; background-color: #685249; color: #fff; font-size: 1.5em; margin: 1em auto; left: 37%; position: relative;
    }

    .infor {
        margin: 0 2.5em;
    }

    .tarpas h1 {
        color: #fff; font-size: 200%; text-align: center;
    }

    .tarpasv {
        padding: 1em; background-color: #c1a185; box-shadow: 0 -1em 3em #795548;
    }

    .tarpas {
        padding: 2em; background-color: #c1a185; 
    }

    #top button {
        width: 3em; height: 3em; border-radius: 50px; border: solid #fff 0.1em; background-color: rgba(0, 0, 0, 0); font-weight: bold; color: #fff; z-index: 1; 
        }
    #top i {opacity: 0.5;}
    #top button:hover {
        background-color: whitesmoke; color: #000; opacity: 0.5;
    }

    .aa {
        position: absolute; left: 47%; z-index: 1; top: 77%; text-align: center;
    }

    .av {
        position: absolute; left: 47%; z-index: 1; top: 44%; text-align: center;
    }

    .juosta {
        margin: 0; padding: 1.65em 0; background-color: #685249; text-align: center; border-spacing: 0; opacity: 0;
    }

    .projektas {
        padding-top: 170px; 
        height: 88vmin; 
        background: linear-gradient(to right, #fff, transparent), url("virt.JPG") no-repeat center; 
        background-size: cover; 
        box-shadow: 0 0 10em 0 rgba(249, 249, 249, 0.6); 
        border-radius: 0 0 100%;
    }
    .projektas h1 {
        font-family: 'Playfair Display', serif; width: 100%; padding: 0;font-size: 250%; color: #685249; text-align: right; margin: 2.5em 1em auto auto;  background-size: cover; 
        background-repeat: no-repeat; 
    }
    .projektas p {
        font-family: 'Playfair Display', serif; font-size: 140%; width: 50%; margin: -1em auto auto 1em; padding: 0;
    }
 
  /*------ galerija puslapis -------*/
    .galerija h1 {text-align: center; font-size: 200%; margin: 1em auto; color: #685249; }
    .row > .column {
    padding: 1em;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 20%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

    /* ------ BANKU PASIULYMAI------ */
   .pasiulymai h1 { text-align: center; margin-top: 12vmin;}
   .pasiulymai button {width: 30vmin; height: 10vmin; border-radius: 20px; background-color: #44382e; margin: 4em 4em 4em 4em; color: #f9eade; font-size: 100%;}
    .luminor {position: absolute; left: 25%; top: 50%;}
    .seb {position: absolute; right: 25%; top: 50%;}
    .pasiulymai img {width: 20vmin; margin: 4em 4em 4em 4em; }
   .pasiulymai .se {position: absolute; right: 27.5%; top: 35%;}
   .pasiulymai .lu {position: absolute; left: 26%; top: 38%; width: 25vmin;}

   /* ---------------------KONTAKTAI--------------------*/
   
   .kontaktai div {margin: 2em;}

