body, body * {
    /* box-sizing: border-box; */
    font-size: 0;
    font-family: 'PT Serif', serif;
    /* padding: 8px; */
}
/*mini meniu eiluciu aukstis*/
header {
    padding: 30px 40px 5px 50px;
    background-color: #563e39;
    /* line-height: 33px; */
    text-transform: uppercase;
    list-style: none;
}
/*ilgos juostos auk6tis*/
span {
    /* float: left; */
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    line-height: 33px;
    font-family: 'PT Serif', serif;
}

header nav {
    float: right; 
     }
/* .clearfix {
    clear: both;
} */
nav .top-nav,
nav .bottom-nav {
    list-style-type: none;
    text-align: right;
    text-transform: uppercase;
    /* display: inline-block;
    vertical-align: middle; */
    /* line-height: 33px; */
}
nav .bottom-nav li.selected {
    background-color: #8c7669;
    /* line-height: 33px; */
}
nav .bottom-nav li:not(.selected):hover {
    background-color: #8c7669;
    /* line-height: 30px; */
}
nav .show-menu {
    display: none;
}
nav .show-menu i{
    font-size: 26px;
    color: #fff;
  }
/* nav .top-nav li{
    font-size: 14px;
    color: #000;
    display: inline-block;
    margin-bottom: 38px;
} */
/* nav .top-nav li:not(:last-of-type) {
    margin-right: 14px;
} */
nav .bottom-nav li:not(:last-of-type) {
    margin-right: 28px;
   }
nav .bottom-nav li{
    color: #fff;
    font-size: 15px;
    display: inline-block;
    padding: 0 14px;
    vertical-align: middle;
       }
nav li:hover {
    color: #fff;
    cursor: pointer;
}
/*apatinis meniu mob*/
.mob-nav li{
    font-size: 15px;
    color: #fff;
    padding: 5px;
    text-align: center;
    list-style: none;
}
.mob-nav li:not(:last-of-type) {
    border-bottom: 1px solid #fff;
}
.mob-nav li:hover {
    color: #fff;
    cursor: pointer;
    background-color: #8c7669;
}
.mob-nav {
    display: none;
    margin-top: 15px;
}



@media (max-width: 1200px) {
    /* nav .top-nav, */
    span {font-size: 17px;}
    nav .bottom-nav {
        display: none;
    }
    nav .show-menu {
        display: block;
        margin-top: -22px;
        cursor: pointer;
    }
    nav .show-menu i:hover {
        color: #fff;
        font-size: 26px;
   }
    .mob-nav {
        display: block;
    }
}
@media (max-width: 1200px) {
   .bottom-nav {display:none;}
}